<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="form.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <title>GesTick Login</title>

     <!-- importer le fichier de style -->
    <!-- <link rel="stylesheet" href="../public/css/style.css" media="screen" type="text/css" /> -->
</head>
    <body>
        <header class="block">
            <br>
            <h2>GESTION TICKET</h2>
             </header>
             <div id="sidebar" class="col-sm-10">

            <div class="bslf" .>
                    <form action="" method="post">
                      <h2 class="text-center">FORMULAIRE
                            <img width="40px" height="50px" alt="Anne Hathaway picture" src="Logo sonatel.png">

                      </h2>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Identifiant" required="required" name="identifiant">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nom" required="required" name="nom">
                      </div>
                      <div class="form-group">
                         <input type="text" class="form-control" placeholder="Prenom" required="required" name="prenom">
                       </div>
                       <div class="form-group">
                         <input type="email" class="form-control" placeholder="Email" required="required" name="email">
                       </div>
                       <div class="form-group">
                         <input type="number" class="form-control" placeholder="Telephone" required="required" name="telephone">
                       </div>
                       <div class="form-group">
                        <input type="number" class="form-control" placeholder="Profil" required="required" name="profil">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Action" required="required" name="action">
                      </div>
                       
                       <div class="form-group clearfix">
                        <button type="submit" class="btn btn-with pull-right">Ajouter</button>
                        </div>
                    </form>
                    
                    <div>
                        
                            <!-- <div class="profile-menu">
                                    <div class="profile-picture small-profile-picture">
                                        <img width="400px" height="500px" alt="Anne Hathaway picture" src="Logo sonatel.png">
                                    </div>
                                    
                                </div> -->
                  </div>
            
         
                        <div>
                            
                        </div>
                    </div>
                        
                        
     
    
   
    

</body>
    
</html>
