body{background-color: #dfd2d2;}
                .bslf{
                width: 350px;
                margin: 20px auto;
                padding: 15px 20px;
                background: #038984;
                box-shadow: 20px 20px 4px #d46c0a;
                border-radius: 5px;
                color: rgb(10, 10, 10);
                }